body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-attachment: scroll;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.section {
    padding: 20px;
    min-height: 400px;
    position: relative;
    color: black; 
}

.section1 {
    background-color: dodgerblue; 
}

.section2 {
    position: relative; 
    color: black; 
}


.section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('a.jpg'); 
    background-size: cover;
    opacity: 0.7; 
    z-index: 1;
}


.section2 .content {
    position: relative; 
    z-index: 2;
    padding: 20px;
}

.section3 {
    background-color: mediumseagreen; 
}